@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100vw;
    background-image: url("/public/images/bg.jpg");
    background-repeat: repeat-y;
    overflow-x: hidden;
}

.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50vh;
}
.intro {
    display: flex;
    flex-direction: column;
}
#planet-name {
    text-decoration: underline;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.short-desc {
    width: 40vw;
    text-align: justify;
    letter-spacing: 1px;
}
.planet-img {
    width: 300px;
    height: 300px;
    transform: translateX(100%);
    transition: all 2s;
}
.show-img {
    transform: translateX(-35%);
}
.divider {
    width: 85vw;
    margin: auto;
}
.full-desc {
    /* border: 1px solid white; */
    text-align: justify;
    letter-spacing: 1px;
    width: 80vw;
    padding: 3% 1%;
    margin: 5% auto;
}
.para-heading {
    font-size: 1.3rem;
    text-decoration: underline;
}